html,body{
    margin: 20px;
    background: black;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: white;
    border: solid blue 3px;
    height: 100px;
}
body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(4, 8.33% 8.33% 8.33%);
    grid-template-columns: repeat(4, 8.33%);
    grid-template-columns: repeat(11, 100px) 100px;

    grid-template-columns: 200px 20% 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 50% 25% 12.5% 12.5%;
}
